@keyframes ars-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes ars-swipe-in {
  0%   { 
    opacity: 0; 
    transform: translateY(10px);
  }

  100% { 
    opacity: 1;
    transform: translateY(0);
   }
}