.ars {
  background: rgba(#000, 0.54);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: $ars-font-family;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

  button {
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}
