.ars {
  box-sizing: border-box;
  font-family: $ars-font-family;
  height: 100%;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

  button {
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}
