.ars-button {
  background-color: #fff;
  border-radius: 3px;
  border: 0;
  color: $ars-primary;
  cursor: pointer;
  display: inline-block;
  font: 500 14px/16px $ars-font-family;
  letter-spacing: 0.05em;
  line-height: 16px;
  margin: 6px 8px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-shadow: none;
  transition: 0.3s all;
  text-transform: uppercase;
  width: auto;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  .ink {
    z-index: 4;
  }

  &[disabled] {
    opacity: 0.18 !important;
    cursor: cancel !important;
  }

  @media screen and (max-width: 400px) {
    margin: 4px;
  }
}

.ars-button-raised {
  background-color: $ars-primary;
  box-shadow: 0 1px 2px rgba(#000, 0.12), 0 0 1px rgba(#000, 0.2);
  color: #fff;

  &:hover,
  &:focus {
    background-color: $ars-primary;
  }
}

.ars-button-icon {
  height: 40px;
  width: 40px;
  opacity: 0.64;
  border-radius: 50%;
  margin: 2px;
  padding: 0;

  .ars-icon {
    display: block;
    margin: 0 auto;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: 0 0 0 1px rgba(#000, 0.12);
    opacity: 1;
  }
}
