.ars-button {
  @extend %focusable;
  background: #fff;
  border-radius: 3px;
  border: 0;
  color: $ars-primary;
  display: inline-block;
  font: 500 14px/16px $ars-font-family;
  letter-spacing: 0.05em;
  line-height: 16px;
  margin: 6px 8px;
  padding: 10px 16px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  width: auto;

  &:hover,
  &:focus {
    background: #fff;
  }
}
