.ars-button {
  @extend %focusable;
  background: #fff;
  border-radius: 3px;
  border: 0;
  color: $ars-primary;
  font: 500 14px/16px $ars-font-family;
  display: inline-block;
  line-height: 16px;
  margin: 6px 8px;
  padding: 10px 16px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
