$ars-dialog-width: 768px;

.focus-trap {
  animation: 0.4s ars-dialog-fade;
  display: flex;
  flex-direction: column;
  font-family: $ars-font-family;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.focus-trap-backdrop {
  background: rgba(#000, 0.54);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.focus-trap-inner {
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, 0.24);
  margin: 0 auto;
  max-height: 100%;
  max-width: $ars-dialog-width;
  position: relative;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: 568px) {
    height: 100%;
  }
}

.ars-dialog-title {
  color: $ars-text-dark;
  flex-grow: 1;
  font: 500 20px/24px $ars-font-family;
  padding: 16px;
  margin: 0;
}

.ars-dialog-footer {
  background: #fff;
  box-shadow: 0 -1px 2px rgba(#000, 0.12);
  padding: 8px 0 8px;
  position: relative;
  text-align: right;
}
