.ars-dialog-wrapper {
  animation: 0.4s ars-fade-in;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  font-family: $ars-font-family;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.ars-dialog-backdrop {
  background: rgba(#000, 0.54);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.ars-dialog {
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, 0.24);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  max-height: 85vh;
  max-width: $ars-dialog-width;
  min-height: 200px;
  position: relative;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: $ars-dialog-width) {
    background: $ars-primary;
    color: #fff;
    height: 100%;
    max-height: 100%;
  }
}

.ars-dialog-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 8px 8px 0;
  padding-right: 4px;
}

.ars-dialog-title {
  color: $ars-text-dark;
  flex-grow: 1;
  font: 500 20px/24px $ars-font-family;
  margin: 0;
  padding: 16px;
}

.ars-dialog-footer {
  align-items: center;
  background: #fff;
  box-shadow: 0 -1px 2px rgba(#000, 0.12);
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 4px 8px 4px 4px;
  position: relative;
  white-space: nowrap;
}
