.ars-dialog-wrapper {
  animation: 0.4s ars-dialog-fade;
  display: flex;
  flex-direction: column;
  font-family: $ars-font-family;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.ars-dialog-backdrop {
  background: rgba(#000, 0.54);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.ars-dialog {
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, 0.24);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  max-height: 85vh;
  max-width: $ars-dialog-width;
  min-height: 200px;
  position: relative;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: $ars-dialog-width) {
    background: $ars-primary;
    color: #fff;
    height: 100%;
    max-height: 100%;
  }
}

.ars-dialog-header {
  @extend %ars-paper;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 8px 8px 0;
  padding-right: 4px;
}

.ars-dialog-title {
  color: $ars-text-dark;
  flex-grow: 1;
  font: 500 20px/24px $ars-font-family;
  padding: 16px;
  margin: 0;
}

.ars-dialog-footer {
  align-items: center;
  background: #fff;
  box-shadow: 0 -1px 2px rgba(#000, 0.12);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 8px 0 0;
  position: relative;
  white-space: nowrap;
}

.ars-button.ars-dialog-clear {
  font-size: 12px;
  line-height: 24px;
  margin-top: 8px;
  padding-left: 4px;

  &:before {
    background: url('/icons/clear.svg') no-repeat;
    content: '';
    display: inline-block;
    height: 24px;
    opacity: 0.28;
    position: relative;
    top: -1px;
    transition: 0.3s all;
    vertical-align: middle;
    width: 24px;
  }

  &:hover:before,
  &:focus:before {
    opacity: 0.54;
    transition: 0.15s all;
  }

  .ars-dialog-clear-text {
    margin-left: 12px;
  }

  @media screen and (max-width: 500px) {
    text-align: center;

    .ars-dialog-clear-text {
      position: absolute;
      font-size: 0;
    }
  }
}

.ars-button.ars-dialog-table {
  @extend .ars-button-icon;
  background: url('/icons/list.svg') 50% 50% no-repeat;
}

.ars-button.ars-dialog-gallery {
  @extend .ars-button-icon;
  background: url('/icons/gallery.svg') 50% 50% no-repeat;
}
