.ars-fig {
  background: #fff;
  float: left;
  margin: 0.5%;
  padding: 24% 2px 2px;
  position: relative;
  width: 24%;
}

.ars-fig-img {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
