.ars-gallery {
  align-content: flex-start;
  box-shadow: 0 -1px 0 rgba(#000, 0.12);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 9px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 6px 4px 2px;
  width: 100%;
}

.ars-gallery-item {
  padding: 2px 4px;
  width: 33%;

  @media screen and (min-width: 568px) {
    width: 25%;
  }
}

// Transitions
// -------------------------------------------------- //

@keyframes ars-gallery-in {
  0% {
    opacity: 0;
    transform: translateZ(0) translate(8px, 4px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.ars-gallery-animate {
  animation: ars-gallery-in 0.6s $ars-bounce;
  animation-fill-mode: both;
}
