$ars-gallery-height: 432px;

.ars-gallery {
  align-content: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: $ars-gallery-height;
  margin-top: 4px;
  max-height: 100%;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  padding: 6px 4px 2px;
  width: 100%;
}

.ars-gallery-item {
  padding: 2px 4px;
  width: 33%;

  @media screen and (min-width: 568px) {
    width: 25%;
  }
}
