.ars-search {
  border-right: 1px solid rgba(#000, 0.12);
  box-shadow: 1px 0 1px rgba(#000, 0.04);
  flex-grow: 1;
  padding: 8px 0;
  margin-right: 8px;
  display: flex;
}

.ars-search-label {
  padding: 4px 12px;

  .ars-icon {
    display: inline-block;
    vertical-align: middle;
  }
}

.ars-search-input {
  border: 0;
  font-size: 16px;
  line-height: 32px;
  padding: 0 12px 0 0;
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}
