.ars-search {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.ars-search-label {
  font-size: 14px;
  font-family: $ars-font-family;
  padding-right: 16px;
  text-transform: uppercase;
  line-height: 20px;
}

.ars-search-input {
  flex: 1 1;
}
