.ars-selection {
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(#000, 0.12);
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;

  .ink {
    color: $ars-primary;
    z-index: 4;
  }

  &.ars-has-photo {
    max-width: 400px;
    width: 100%;
  }

  &.ars-is-loading {
    .ars-selection-desc {
      opacity: 0.2;
    }

    .ars-selection-button-icon {
      animation: 0.7s ars-spin infinite;
      animation-timing-function: linear;
      background-image: url('/icons/refresh.svg');
    }
  }
}

.ars-selection-photo {
  display: block;
  max-height: 225px;
}

.ars-selection-desc {
  transition: 0.55s opacity;
}

.ars-selection-title {
  box-shadow: 0 -1px 0 0 solid rgba(#000, 0.12);
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  overflow: hidden;
  padding: 0 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ars-selection-caption {
  color: rgba(#000, 0.54);
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 16px;
}

.ars-selection-title + .ars-selection-caption {
  margin-top: -8px;
  padding-top: 0;
}

.ars-selection-figure {
  border-bottom: 1px solid rgba(#000, 0.12);
  margin: 0;
  padding: 0;
}

.ars-button.ars-selection-edit {
  display: block;
  line-height: 24px;
  margin: 0;
  padding: 16px 8px 16px 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .ars-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
}
