.ars-selection {
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(#000, 0.12);
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.75s border-radius, 0.3s height, 0.3s width;

  .ink {
    color: $ars-primary;
    z-index: 4;
  }

  &.ars-has-photo {
    width: 400px;
  }

  &.ars-is-loading {
    animation: 0.7s ars-spin infinite;
    animation-timing-function: linear;
    background: url('/icons/refresh.svg') 50% 50% no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(#000, 0.12);
    height: 48px;
    overflow: hidden;
    transition: 0.3s border-radius;
    width: 48px;
  }
}

.ars-selection-inner {
  transition: 0.4s all 0.75s;
}

.ars-is-loading .ars-selection-inner {
  transition: 0.2s all;
  opacity: 0;
}

.ars-selection-photo {
  display: block;
  max-height: 225px;
}

.ars-selection-title {
  box-shadow: 0 -1px 0 0 solid rgba(#000, 0.12);
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  overflow: hidden;
  padding: 0 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ars-selection-caption {
  color: rgba(#000, 0.54);
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 16px;
}

.ars-selection-title + .ars-selection-caption {
  margin-top: -8px;
  padding-top: 0;
}

.ars-selection-figure {
  border-bottom: 1px solid rgba(#000, 0.12);
  margin: 0;
  padding: 0;
}

.ars-button.ars-selection-edit {
  background: url('/icons/edit.svg') calc(100% - 16px) 50% no-repeat;
  display: block;
  margin: 0;
  padding: 16px 48px 16px 16px;
  text-align: right;
  transition: 0.3s all;
  width: 100%;
}
