.ars-table-wrapper {
  box-shadow: 0 -1px 0 rgba(#000, 0.12);
  flex-grow: 1;
  margin-top: 9px;
  overflow: auto;
  padding: 8px 9px;
}

.ars-table {
  @extend %ars-paper;
  border-collapse: collapse;
  color: $ars-text-dark;
  font-size: 13px;
  width: 100%;
}

.ars-table tbody tr {
  box-shadow: 0 -1px 0 rgba(#000, 0.08);
  transition: 0.2s all;
  position: relative;
  will-change: all;

  &:hover {
    background: $ars-grey-200;
    box-shadow: inset 0 1px 0 rgba(#000, 0.08);
    z-index: 1;
  }
}

.ars-table td,
.ars-table th {
  text-align: left;
  padding: 8px 16px 8px 0;
  min-height: 48px;
  max-width: 200px;

  &[hidden] {
    display: none;
  }
}

.ars-table td:last-child {
  padding-right: 24px;
}

.ars-table thead th {
  color: $ars-muted-dark;
  font-size: 12px;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 16px;
}

.ars-table-stretch {
  width: 100%;
}

.ars-table .ars-table-id {
  min-width: 0;
  width: 48px;
  text-align: center;
}

.ars-table .ars-table-preview,
.ars-table .ars-table-selection {
  width: 48px;
}

.ars-table .ars-table-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ars-table .ars-table-selection {
  min-width: 0;
  padding: 16px;
}

.ars-table-imagebox {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;

  &.ars-large {
    border-radius: 0;
    box-shadow: none;
    height: 200px;
    width: 100%;
  }

  img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    min-width: 100%;
  }
}

.ars-table-checker {
  cursor: pointer;
  position: relative;

  &:after {
    bottom: -8px;
    content: '';
    cursor: pointer;
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 0;
  }

  input {
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}

/**
* Active States
 */

.ars-table-heading.ars-sortable {
  cursor: pointer;
  transition: 0.4s all;

  &:hover {
    color: $ars-accent;
    transition: 0.15s all;
  }
}

.ars-table-heading.ars-active {
  color: $ars-primary;
  font-weight: bold;
}

// Transitions
// -------------------------------------------------- //

@keyframes ars-table-in {
  0% {
    opacity: 0;
    transform: translateZ(0) scale(0.94);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.ars-table-animate {
  animation: ars-table-in 0.6s $ars-bounce;
  animation-fill-mode: both;
}

.ars-table-enter {
  opacity: 0.01;
  transform: scale(1.02);
  transition: 0.48s all;
}

.ars-table-enter.ars-table-enter-active {
  opacity: 1;
  transform: none;
}

.ars-table-leave {
  opacity: 1;
  transition: 0.32s all;
}

.ars-table-leave.ars-table-leave-active {
  opacity: 0.01;
  transform: scale(1.02);
}
