/**
 * Tags appear on the table view. They make it easy to search by a particular category.
 * Follows https://material.io/design/components/chips.html
 */

.ars-tag {
  background: #e3e3e3;
  border-radius: 24px;
  cursor: pointer;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.88);
  padding: 4px 8px;
  border: 1px solid #dddddd;
  margin-bottom: 4px;
  transition: 0.2s all;
}

.ars-tag:hover,
.ars-tag:focus {
  background: $ars-primary;
  border-color: darken($ars-primary, 5%);
  color: rgba(255,255,255, 0.88);
}