# Javascript Node CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.11
    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # Fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # Test commands Start here
      - run: yarn lint
      - run: yarn test
      - deploy:
          name: Deploy example
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              yarn now -- -t ${NOW_TOKEN} alias ars-arsenal --public
            fi
