$ars-font-family: Roboto, sans-serif;
$ars-primary: rgb(0, 150, 136) !default;
$ars-accent: #cddc39 !default;
$ars-danger: #f44336 !default;
$ars-text-light: rgba(#fff, 0.875) !default;
$ars-text-dark: rgba(#000, 0.875) !default;
$ars-muted-light: rgba(#fff, 0.4) !default;
$ars-muted-dark: rgba(#000, 0.54) !default;
$ars-grey-200: #eeeeee !default;
$ars-bounce: cubic-bezier(.05, .65, .24, 1.14) !default;
$ars-dialog-width: 768px;

@import 'generators/functions';
@import 'generators/extends';

@import "components/animation";
@import "components/ars";

@import "utils/hidden";
@import "animation/spin.scss";

.ars {
  @import "components/dialog";
  @import "components/gallery";
  @import "components/table-view";
  @import "components/figure";
  @import "components/image";
  @import "components/search";
  @import "components/button";
  @import "components/selection";
  @import "components/multiselection";
  @import "components/error";
  @import "components/empty";
  @import "components/tag";
  @import "components/truncated";
}
