$ars-font-family : Roboto, sans-serif;
$ars-primary     : #009688 !default;
$ars-accent      : #cddc39 !default;
$ars-danger      : #f44336 !default;
$ars-text-light  : rgba(#fff, 0.875) !default;
$ars-text-dark   : rgba(#000, 0.875) !default;
$ars-muted-light : rgba(#fff, 0.4) !default;
$ars-muted-dark  : rgba(#000, 0.5) !default;

@import 'generators/functions';

@import "components/ars";

.ars {
  @import "components/dialog";
  @import "components/gallery";
  @import "components/figure";
  @import "components/search";
  @import "components/button";
}
