%focusable {
  position: relative;

  &:after {
    border: 3px solid transparent;
    border-radius: 8px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.28s all;
    z-index: 3;
  }

  &:focus {
    outline: none;

    &:after {
      border-color: rgba(#0af, 0.34);
      box-shadow: 0px 1px 1px 2px rgba(#000, 0.05);
      bottom: -8px;
      left: -8px;
      right: -8px;
      top: -8px;
    }
  }
}

%ars-paper {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(#000, 0.24), 0 0 0 1px rgba(#000, 0.04);
}
